/* grids */

/* backgroud colors */
#organic,
#gallery {
  background-color: var(--color-card-bg);
}

#lemon,
#whiskey {
  background-color: var(--color-card-bg-secondary);
}
#rum,
#coconut {
  background-color: var(--color-card-bg-primary);
}

/* card styles */
#ingredients {
  margin: 1em;
  row-gap: 1em;
  column-gap: 1em;
}

#organic,
#ingredients article,
#gallery {
  border-radius: var(--border-radius-card);
}

/* textstyles */

@media (width > 800px) {
  .about_grid-1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
