/* grids */
.about_grid-1-1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

/* backgroud colors */
#organic,
#gallery {
  background-color: var(--color-card-bg);
}

#lemon,
#whiskey {
  background-color: var(--color-card-menu1-bg);
}
#rum,
#coconut {
  background-color: var(--color-card-menu3-bg);
}

/* card styles */
#ingredients{
    margin: 1em;
    row-gap: 1em;
    column-gap: 1em;
}

#organic, #ingredients, #gallery{
    border-radius: var(--border-radius-card);
}