@font-face {
  font-family: "Baloo2";
  src: url("../fonts/Baloo2-VariableFont_wght.woff2") format("woff2");
  font-weight: var(--font-weight-bold);
  font-style: normal;
}

@font-face {
  font-family: "Tahoma";
  src: url("../fonts/Tahoma.woff2") format("woff2");
  font-weight: var(--font-weight-regular);
  font-style: normal;
}

@font-face {
  font-family: "TahomaBold";
  src: url("../fonts/Tahoma-Bold.woff2") format("woff2");
  font-weight: var(--font-weight-bold);
  font-style: normal;
}
