* {
  margin: 0;
  padding: 0;
}
img {
  max-width: 100%;
}
main p {
  margin: 2em;
}
/* NAV */
header {
  position: sticky;
  top: 0;
  top: 0.5em;
}
.navbar {
  background-color: #2f2f2f;
  border-radius: 15px;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  z-index: 1000;
  top: 0.5em;
  margin: 0 0.5em;
}

.logo img {
  height: 40px;
}

.nav-links {
  display: flex;
  gap: 40px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-links a {
  text-decoration: none;
  color: #e0e4ef;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 1px;
}

/* FOOTER */
.footer {
  background-color: #2f2f2f;
  border-radius: 15px;
  padding: 40px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  margin: 0.5em;
  color: #e7e4e6;
  font-family: sans-serif;
}

.footer-left {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer-logo {
  height: 60px; /* tilpas efter behov */
}

.socials {
  display: flex;
  gap: 20px;
}

.social-btn {
  background: #f0e89a;
  padding: 5px 30px;
  border-radius: 30px 30px 10px 10px;
  text-decoration: none;
  font-size: 20px;
  color: #4a2f2a;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
}

.footer-right {
  text-align: right;
  font-size: 1rem;
  line-height: 3;
}

.footer-right a {
  color: #851600;
  text-decoration: none;
}

.apply-btn {
  background: #f0e89a;
  padding: 6px 18px;
  border-radius: 20px;
  text-decoration: none;
  margin-left: 10px;
  color: #4a2f2a;
  font-weight: bold;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
}
