h1 {
  text-align: center;
  margin-bottom: 4rem;
}

img {
  border-radius: 10px;
}

section:nth-of-type(1) h2,
section:nth-of-type(3) h2 {
  color: var(--color-h2-primary);
}

section:nth-of-type(2) h2,
section:nth-of-type(4) h2 {
}

/* section:nth-of-type(1) h3,
section:nth-last-of-type(1) p,
section:nth-of-type(3) h2,
section:nth-of-type(3) h3,
section:nth-last-of-type(3) p  */

.galleri {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.galleri img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.facade {
  grid-column: 1 / 3;
  grid-row: 1;
  aspect-ratio: 2 / 1;
  object-fit: cover;
  width: 100%;
}

.indenfor {
  grid-column: 1/2;
  grid-row: 2;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  width: 100%;
}
.stemning {
  grid-column: 2/3;
  grid-row: 2;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  width: 100%;
}

.opening_hours1 a,
.opening_hours2 a,
h3 {
  grid-column: 1 / -1;
  text-align: center;
}

.opening_hours1 {
  background-color: var(--color-h2-primary);
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 3rem;
  border-radius: 10px;
}

.opening_hours2 {
  background-color: var(--color-card-bg-secondary);
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 3rem;
}

.days {
  grid-column: 1/2;
  text-align: end;
  margin-right: 2em;
}

.hours {
  grid-column: 2/3;
}

.maps {
  background: var(--color-cta1-bg);
  padding: 20px 1px;
  border-radius: 10px 15px 25px 25px;
  text-decoration: none;
  color: var(--color-cta1-text);
  font-weight: bold;
  box-shadow: var(--drop-shadow);
}

@media (width>800px) {
  .grid_1-1-1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1.5rem;
  }
  .opening_hours1 {
    grid-column: 3/5;
  }

  .galleri {
    grid-column: 1/3;
  }

  .opening_hours2 {
    grid-column: 1/3;
    grid-row: 1/2;
  }

  .galleri2 {
    grid-column: 3/5;
  }

  .location {
    text-align: end;
  }
}
